.nuxt-link-active {
  color: #e74c3c !important;
}

.toasted-container {
  .toasted {
    font-family: "Roboto", sans-serif;
    font-size: 1.1rem !important;
    font-weight: 500 !important;
    padding: 1rem !important;
  }
}
